/*! blabbertabber.css v1.0 | MIT License */

/*! colors
 1 - d46a6a
     ffaaaa
 2 - d4cb6a
     fff7aa
 3 - 407f7f
     669999
 4 - 8a458a
     a66fa6
 5 - d4a76a
     ffdbaa
 6 - a5c663
     d4ee9f
 7 - 565695
     8080b3
 8 - d4886a
     ffc2aa
 9 - d4d46a
     ffffaa
10 - 496d89
     718ea4
11 - aa5585
     cd88af
12 - d4ba6a
     ffeaaa
13 - 55aa55
     88cc88
14 - 6b4e90
     8f78ad
15 - d49a6a
     ffd1aa
16 - bbcd67
     e8f6a4
*/

/* Speaker Styles */
.speaker-1 {
    background-color: #E25930;
}
.speaker-2 {
    background-color: #C46935;
}
.speaker-3 {
    background-color: #AA7870;
}
.speaker-4 {
    background-color: #8782B2;
}
.speaker-5 {
    background-color: #9A7D95;
}
.speaker-6 {
    background-color: #B6714B;
}
.speaker-7 {
    background-color: #D1612F;
}
.speaker-8 {
    background-color: #F65333;
}
.speaker-9 {
    background-color: #6C90DB;
}

.speaker-10 {
    background-color: #50A7F3;
}

.speaker-11 {
    background-color: #35C8FD;
}

.speaker-12 {
    background-color: #09F1F1;
}

.speaker-13 {
    background-color: #1FDBFB;
}

.speaker-14 {
    background-color: #46B7FA;
}

.speaker-15 {
    background-color: #5F9BE9;
}

.speaker-16 {
    background-color: #7788CA;
}